page {
  padding-top: 225Px;
}

.video {
  width: 100%;
  position: fixed;
  top: 0;
}

.lower {
  padding: 20px;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.info {
  font-size: 24px;
  color: #999;
  margin-top: 10px;
}

.header {
  font-weight: 400;
  margin: 20px 0 16px;
}
