@import "~taro-ui/dist/style/components/search-bar.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/icon.scss";

page {
  background-color: #f7f7f7;
  box-sizing: border-box;
}

.at-search-bar {
  background-color: transparent;
}


.at-search-bar__input-cnt {
  background-color: #fff;
}
